body {
  text-align: center;
  background-color: #000;
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: crosshair;
  padding: 0;
}

#cameraCanvas {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  overflow:hidden;
  padding: 0px;
  margin: 0px;
  z-index: 20;
  -webkit-transform: translate3d(0, 0, 0);
}

#gameCanvas {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  overflow:hidden;
  padding: 0px;
  margin: 0px;
  z-index: 10;
  display: none;
}

#backgroundCanvas {
  background-color: #000;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  overflow:hidden;
  padding: 0px;
  margin: 0px;
  z-index: 5;
}